* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "muli";
  list-style: none;
  text-decoration: none;
}
body{
  background-color: black;
}

.fixed-action-btn{
  visibility: hidden;
}
.foto{
  position: absolute;
  width: 140px;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  opacity: 0;
}

.foto img{
  width: 100%;
  border-radius: 15px;
}
.preloader1{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 50vh;
  z-index: 9;
}
.preloader2{
  background-color: black;
  position: fixed;
  width: 100%;
  height: 50vh;
  top: 50%;
  z-index: 9;
}
.c1{
  width: 100%;
  height: 2px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.contenedor-p{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: black;
}
.icono-down {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  animation: icono infinite;
  animation-duration: 0.7s;
  animation-direction: alternate;
}
.icono-down img {
  width: 100%;
}

@keyframes icono {
 from{margin: -5px 0;}
 to{margin: 10px 0;}
}
body .contenedor-principal {
  width: 100%;
  height: calc(100vh);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#section1{
  background-color: black;
}

#section1 video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  pointer-events: none;
}

#section1, .contenedor-principal {
  overflow: hidden;
  background-color: black;
}

#style {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10% 1fr 1fr 10% 10% 5% 1fr;
  grid-gap: 20px;
}
.container .nombre {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-self: center;
  align-self: center;
  color: white;
  font-size: 16pt;
  font-weight: 100;
}

.nombre,.desarrollador, .front{
  top: 20px;
  position: relative;
  opacity: 0;
  transform: rotate(4deg);
 
  
}

.container .nombre .line {
  width: 60%;
  height: 1px;
  background-color: white;
  align-self: center;
  justify-self: center;
  margin: 0 auto;
}

.container .desarrollador {
  grid-column-start: 3;
  grid-column-end: -3;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
  justify-self: center;
  color: white;
}

.container .desarrollador span {
  font-size: 25pt;
  font-weight: 200;
}

.container .front {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 7;
  align-self: top;
  justify-self: end;
  color: #ccc;
}

.container .front span {
  font-size: 15pt;
  font-weight: 100;
}

/******Menu***/
.menu {
  position: fixed;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 130px 5%;
  top: 10%;
  right: 4%;
  text-align: right;
  z-index: 9;
  opacity: 0;
}

.menu ul {
  grid-column-start: 1;
  grid-column-end: 1;
}

.menu ul li {
  font-size: 10pt;
  margin-bottom: 14px;
  color: white;
  cursor: pointer;
  position: relative; 
}

.menu ul li:hover{
  text-decoration: line-through;
}

.menu ul li:nth-child(3) {
  margin-bottom: 0px;
}

.menu .line {
  grid-column-start: 2;
  grid-column-end: 2;
  width: 25%;
  height: 100%;
  background-color: white;
  animation: line 3s infinite;
  animation-direction: alternate;
}

@keyframes line{
  from{height: 0%;}
  to{height: 100%;}
}

#section1{

}
/********seccion2 acerca de mi*********/
#section2 {
  width: 100%;
  height: auto;
  background-color: black;
  background-image: linear-gradient(to bottom, black, #213D4B);
  
}
#section2 .container2 {
  width: 80%;
  margin: 0 auto; 
  color: white;
}
#section2 .titulo {
  padding-top: 5%;
  font-size: 25pt;
  align-self: center;
}
#section2 .titulo .line {
  width: 15%;
  height: 2px;
  background: white;

}
#section2 .texto {
  padding-top: 3%;
  font-size: 15pt;
  align-self: center;
  line-height: 40px;
  text-align: justify;
  font-weight: lighter;
}
#section2 .ux {  
  text-align: center;
  font-size: 25pt;
  letter-spacing: 5px;
  color: #e95242;
}
#section2 .ui {  
  text-align: center;  
  font-size: 25pt;
  letter-spacing: 5px;
  color: #1abc9c;
}

#section2 .containeru{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 6% 0%;
}
#section2 .text-uxui{
  margin: 15px 0;
  font-size: 15pt;
  letter-spacing: 2px;
  font-weight: lighter;
  color: #FFF;
}
#section2 .containeru .container-ux{
  display: flex;
  flex-direction: column;
  width: 45%
  
}
#section2 .containeru .container-ui{
  display: flex;
  width: 45%;
  flex-direction:column;

}

#section2 .ux-img svg{
  width: 100%;
  height: 100%;
}

#section2 .ui-img svg{
  width: 100%;
  height: 100%;
}

.cls-1, .cls-3 {
    fill: #e95242;
    animation: ux2 6s infinite alternate-reverse;
  }




@keyframes ux{
  from{width: 5%; }
  to{width: 100%; }
}
@keyframes ux2{
  0%{fill: #000;}
  50%{fill: #e95242;}
  100%{ fill: #1abc9c;}
}


/**********SECCION 3 HABILIDADES*******/
#section3 {
  width: 100%;
  height: 80vh;
  background-color: #213D4B;
}
#section3 .container3 {
  color: white;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 10%);
  grid-gap: 10px;
}
#section3 .titulo {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
  align-self: center;
  font-size: 25pt;
}
#section3 .html {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: start;
}
#section3 .bar-html {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 30%;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #1abc9c;
  position: relative;
}
#section3 .bar-html::after {
  content: "90%";
  text-align: center;
  position: absolute;
  background: #1abc9c;
  color: #fff;
  width: 90%;
  height: 100%;
  border-radius: 50px;
  font-size: 10pt;
  font-weight: 600;

}


#section3 .css {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
  justify-self: start;
  font-size: 10pt;
  color: #9b9b9b;
}
#section3 .bar-css {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 30%;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #e95242;
  position: relative;
}
#section3 .bar-css::after {
  content: "78%";
  text-align: center;
  position: absolute;
  background: #e95242;
  color: #fff;
  width: 78%;
  height: 100%;
  border-radius: 50px;
  font-size: 10pt;
  font-weight: 600;
}
#section3 .js {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 7;
  align-self: center;
  justify-self: start;
  font-size: 10pt;
  color: #9b9b9b;
}
#section3 .bar-js {
  grid-column-start: 3;
  grid-column-end: 6;
  grid-row-start: 6;
  grid-row-end: 7;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 30%;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #1abc9c;
  position: relative;
}
#section3 .bar-js::after {
  content: "60%";
  text-align: center;
  position: absolute;
  background: #1abc9c;
  color: #fff;
  width: 60%;
  height: 100%;
  border-radius: 50px;
  font-size: 10pt;
  font-weight: 600;
}
#section3 .php {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: start;
  font-size: 10pt;
  color: #9b9b9b;
}
#section3 .bar-php {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 4;
  grid-row-end: 5;
  align-self: center;
  justify-self: center;
  position: relative;
  width: 100%;
  height: 30%;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #e95242;
}
#section3 .bar-php::after {
  content: "30%";
  text-align: center;
  position: absolute;
  background: #e95242;
  color: #fff;
  width: 30%;
  height: 100%;
  border-radius: 50px;
  font-size: 10pt;
  font-weight: 600;
}


#section3 .angular {
  grid-column-start: 8;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
  justify-self: start;
  font-size: 10pt;
  color: #9b9b9b;
}
#section3 .bar-angular {
  grid-column-start: 10;
  grid-column-end: 13;
  grid-row-start: 5;
  grid-row-end: 6;
  align-self: center;
  justify-self: center;
  position: relative;
  width: 100%;
  height: 30%;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #1abc9c;
}
#section3 .bar-angular::after {
  content: "30%";
  text-align: center;
  position: absolute;
  background: #1abc9c;
  color: #fff;
  width: 30%;
  height: 100%;
  border-radius: 50px;
  font-size: 10pt;
  font-weight: 600;
}
#section3 #titulo-h {
  font-size: 15pt;
  color: white;
}

/*********SECCION 4 PROYECTOS*******/
#section4 {
  width: 100%;
  height: auto;
  background-color: #213D4B;
  text-decoration: none;
}

#section4 a{
  color: white;
}
#section4 .container4 {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 0.1fr);
  grid-gap: 10px;
  color: white;
}
#section4 .container4 .titulo {
  grid-column: 1/-1;
  align-self: center;
  justify-self: start;
  font-size: 25pt;
}
#section4 .container4 .titulo .line {
  width: 40%;
  height: 2px;
  background: white;
  align-self: center;
  justify-self: start;
}
#section4 .container4 .cosmic {
  box-shadow: 5px 5px 30px black;
  grid-column: 3/11;
  grid-row: 3/4;
  background-image: url(../assets/logos/logo_cosmic.png);
  background-color:  rgba(0, 0, 0, 1) ;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;

}
#section4 .container4 .text-cosmic {
  grid-column: 3/11;
  grid-row: 4/5;
  align-self: end;
  justify-self: center;
}
#section4 .container4 .bengala {
  box-shadow: 5px 5px 30px black;
  grid-column: 3/11;
  grid-row: 9/10;
  background-image: url(../assets/logos/logo_bengala.png);
  background-color:  rgba(255, 255, 255, 1) ;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}
#section4 .container4 .text-bengala {
  grid-column: 3/11;
  grid-row: 10/11;
  align-self: end;
  justify-self: center;
  color: white;
}
#section4 .container4 .nueces {
  grid-column: 3/11;
  grid-row: 6/7;
  box-shadow: 5px 5px 30px black;
  border-radius: 15px;
  background-image: url(../assets/logos/logo_nuez.png);
  background-color:  rgba(255, 255, 255, 1) ;
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
#section4 .container4 .nueces img, #section4 .container4 .cosmic img, #section4 .container4 .bengala img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  border-radius: 15px;
}

/*#section4 .cosmic video,
#section4 .bengala video,
#section4 .nueces video{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: .5s all;
  border: none;
  position: relative;
  z-index: 9;
  object-fit: cover;
}*/

#section4 .container4 .text-nueces {
  grid-column: 3/11;
  grid-row: 7/8;
  align-self: end;
  justify-self: center;
}

#section4 .container4 .cosmic, #section4 .container4 .nueces, #section4 .container4 .bengala {
  border-radius: 15px;
}

#section4 #parrafo{
  /*border-bottom: 1px solid white;*/
  padding: 3px 0px;
  cursor: pointer;
  transition: all .5s; 
}
#section4 #visitar{
  position: relative;
}
#section4 #parrafo::before{
  content: '';
  font-size: 0;
  width: 100%;
  height: 1.5px;
  background-color: white;
  position: absolute;
  top: 100%;
  transition: all .5s;
 
}

#section4 #parrafo:hover::before{
  height: 5%;
  top: 0%;
  width: 5%;
  transform: rotate(180deg); 
}






/************FOOTER********/
#footer {
  width: 100%;
  background-color: #fff;
}
#footer .container5 {
  background-color: white;
  width: 80%;
  margin: 2% auto;
}
#footer .container5 .flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-around;
}

.trabajar{
  width: 100%;
  margin: 100px 0;
  text-align: center;
  font-size: 15pt;
  color: #213D4B;
}
.trabajar .box span{
  /*border: 1px solid #213D4B;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;*/
}
/*.trabajar .box span:hover{
  border: 1px solid white;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #213D4B;
  color: white;
}*/

.trabajar .box a{
  font-size: 10pt;
  font-family: 'muli';
  background-color: #213D4B;
}
.trabajar .box a:hover{
  opacity: .8;
}


#modal1 video{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: .7;
}
#modal1 form{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'muli';
}
#modal1 .input-field{
  width: 40%;
  margin: 0 auto;
  padding: 1% 0;
}

#modal1 .input-field label{
  color: black;
  font-weight: lighter;
}
#modal1 .input-field input[type=text]:focus{
  color: #000;
}
/* label focus color */
#modal1 .input-field input[type=text]:focus + label {
  color: rgba(0, 0, 0, .7);
}
#modal1 .input-field input[type=text].valid{
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #000;
} 
#modal1 .input-field .prefix.active {
  color: #000;
}


#modal1 input[type="submit"]{
  padding: 2px 10px;
  font-size: 8pt;
  text-align: center;
  font-family: 'muli';
  border: none;
  border-bottom: 1px solid #000;
  background-color: transparent;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 1s;
}

#modal1 input[type="submit"]:hover{  
  border-bottom: 1px solid #fff; 
}

#modal1 .title-form{
  text-align: center;
  padding-bottom: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  color: black;
  
}
#modal1 .modal-footer{
  background-color: white;
  
}

#footer .container5 .contacto {
  font-size: 25pt; 
  color: #213D4B;
  text-align: center;
  margin-bottom: 5%; 
}
#footer .container5 .flex-container .correo,
#footer .container5 .flex-container .telefono {
  font-size: 15pt;
  color: #213D4B;
  display: flex;
  flex-direction: row;  
  align-items: center; 
  
}

#footer .container5 .telefono img,
#footer .container5 .correo img{
  width: 25px;  
  align-self: center;
  margin-right: 10px;  
}

#footer .container5 #parrafo{
 text-align: left;
  font-size: 15pt;
  color: #213D4B;
}
#footer .container5 .rss{
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-self: center;
 
}
#footer .container5 .rss img {
  width: 25px;
  margin: 0 30px;
  align-self: center;
}

#footer .container5 .rss img:hover {
  opacity: .5;
}
#footer{
  position: relative;
}

#footer .cv{
  position: absolute;
  transform: rotate(-90deg); 
  top: 30%;
  left: 0%;

  
}
#footer .cv span{
  border: 1px solid #e95242;
  padding: 2px 10px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all .6s;
  color: black;
}
#footer .cv span:hover{
  background-color:  #e95242;
  color: white;
}

.fixed-action-btn{
  opacity: 0;
}





@media screen and (max-width: 1000px){
  #footer .container5 .flex-container{
    flex-wrap: wrap;                   
    }
    
}

@media screen and (max-width: 900px){
  #section2 #titulo,
  #section3 #titulo,
  #section4 #titulo,
  #footer .container5 #titulo{
    font-size: 20pt;
  }
  
  #section2 #parrafo,
  #section3 #parrafo,
  #section4 #parrafo,
  #footer .container5 #parrafo{
    font-size: 13pt;
  }
  #section2 .text-uxui{
    font-size: 13pt;
  }

  #footer .container5 .flex-container{
    font-size: 10pt;
  }
 
  .trabajar{   
    margin: 50px 0;    
  }
  .trabajar .box a{
    font-size: 8pt;
    font-family: 'muli';
  }
  #footer .cv span{
    font-size: 6pt;
  }
  
}


@media screen and (max-width: 875px){
  #section3 .html{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
  }
  #section3 .bar-html{
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 3;
        grid-row-end: 4;
  }
  #section3 .bar-html::after{                            
        font-size: 9pt;
        font-weight: 600;
      }

  #section3 .css{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
  }
  #section3 .bar-css{
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 4;
        grid-row-end: 5;
  }
  #section3 .bar-css::after{                            
        font-size: 9pt;
        font-weight: 600;
      }

  #section3 .js{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
  }
  #section3 .bar-js{
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 5;
        grid-row-end: 6;
  }
  #section3 .bar-js::after{                            
        font-size: 9pt;
        font-weight: 600;
      }


  #section3 .php{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 7;
  }
  #section3 .bar-php{
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 6;
        grid-row-end: 7;
  }
  #section3 .bar-php::after{                            
        font-size: 9pt;
        font-weight: 600;
      }

  #section3 .angular{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 7;
        grid-row-end: 8;
  }
  #section3 .bar-angular{
        grid-column-start: 4;
        grid-column-end: 13;
        grid-row-start: 7;
        grid-row-end: 8;
  }
  #section3 .bar-angular::after{                            
        font-size: 9pt;
        font-weight: 600;
      }

  #section4 .container4 .cosmic,
  #section4 .container4 .bengala,
  #section4 .container4 .nueces{
        grid-column: 2/12;        
  }

  #section2 .ui,
  #section2 .ui-img{
        grid-column-start: 7;
        grid-column-end: 13;        
  }
  #section2 .ux,
  #section2 .ux-img{
        grid-column-start: 1;
        grid-column-end: 7; 
  }

}

@media screen and (max-width: 800px){
  #footer .container5 .flex-container #parrafo{
    font-size: 9pt;
  }
  .trabajar .box a{
    font-size: 8pt;
    font-family: 'muli';
  }
  #footer .container5 .flex-container .rss img{
    width: 20px;
    align-self: center;
    margin: 0 15px;
  }
  #footer .container .flex-container .rss p{
    font-size: 10pt;
  }
  
  #modal1 .input-field{
    width: 60%;
    margin: 0 auto;
    padding: 1% 0;
  }
}
@media screen and (max-width: 750px){

}

@media screen and (max-width: 680px){
    #section2 .text-uxui{
    font-size: 10pt;
    }
    #section1 .desarrollador {
      grid-column: 1/-1;
    }
    #section1 .desarrollador span{
      font-size: 20pt;

    }
    #section1 .front{      
      justify-self: center;
      grid-column: 1/-1;
    }
    #section1 .front span{      
      font-size: 12pt;
    }
    #section1 .nombre{
      font-size: 12pt;
      grid-column: 1/-1;
    }
    #section1 .nombre span{
      font-size: 12pt;
    }
    .fixed-action-btn{
      visibility: visible;
    }
    .menu{
      visibility: hidden;
    }
}   


@media screen and (max-width: 600px){
      #section3 #titulo-h{
        font-size: 10pt;
      }
      #section2 #parrafo,
      #section3 #parrafo,
      #section4 #parrafo,
      #footer #parrafo{
        font-size: 10pt;
      }
      #section2 #subparrafo,
      #section3 #subparrafo,
      #section4 #subparrafo,
      #footer #subparrafo{
        font-size: 7pt;
      }

      #section2 .text-uxui{
        font-size: 10pt;
      }


      #section2 .texto{
        grid-row-start: 2;
        grid-row-end: 3;           
        line-height: 20px;
      }          
      #section2 .container2 {       
        color: white;
      }
      #section2 .containeru{
        width: 100%;
        display: flex;
        flex-direction: column;             
        padding: 6% 0%;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
      #section2 .containeru .container-ux{       
        width: 70%;        
      } 
      #section2 .containeru .container-ui{
       width: 70%;
      padding-top: 8%;
      }
      #footer .container5 .flex-container{
      flex-wrap: wrap;                   
      }
      #footer .container5 .flex-container .rss{
        margin-top: 20px;
      }

         

}

@media screen and (max-width: 520px){
      #section2 #titulo,
      #section3 #titulo,
      #section4 #titulo,
      #footer .container5 #titulo{
        font-size: 15pt;
      }
}

@media screen and (max-width: 450px){
      #section4 .container4 .cosmic,
      #section4 .container4 .bengala,
      #section4 .container4 .nueces{
        grid-column: 1/-1;        
      }
      #section1 .desarrollador span{
      font-size: 17pt;
      }
      #footer .container5 .flex-container .correo img,
      #footer .container5 .flex-container .telefono img{
        width: 15px;
      }
      #footer .container5 .flex-container .rss img{
        width: 16px;
       }
       .trabajar .box a{
        font-size: 7pt;
        font-family: 'muli';
      }
      #footer .trabajar{
        margin: 30px 0;
      }
      #footer .cv span{
      font-size: 5pt;
      }

}
  
@media screen and (max-width: 385px){
     #section3 #titulo-h{
      font-size: 8pt;
     }
     #footer .container5 .flex-container #parrafo
     {
        font-size: 8pt;
      }
      #modal1 .input-field{
        width: 80%;
        margin: 0 auto;
        padding: 1% 0;
      } 
}

@media screen and (max-width: 300px){
      #section1 .desarrollador span{
      font-size: 12pt;
      } 
}
/*# sourceMappingURL=estilos.css.map */
